/.vs/Wave Engine/FileContentIndex/46faf999-80f4-4f0a-9d7d-79adbcd0f9bb.vsidx
/.vs/Wave Engine/FileContentIndex/7a190988-ccb1-404d-9758-35a5b1923bd7.vsidx
/.vs/Wave Engine/FileContentIndex/9a7acae0-6f1f-4a5c-9999-7338f8b02d33.vsidx
/.vs/Wave Engine/FileContentIndex/9c96d36e-0e8d-4d5d-b546-90611bf5813a.vsidx
/.vs/Wave Engine/FileContentIndex/ac5bc137-3aa4-420d-84a2-6055b15865f5.vsidx
/.vs/Wave Engine/v17/.suo
/.vs/Wave Engine/v17/Browse.VC.db
/.vs/Wave Engine/v17/fileList.bin
/.vs/Wave Engine/v17/ipch/AutoPCH/70199c9adcd7e42b/RENDERINGMANAGER.ipch
/.vs/Wave Engine/v17/ipch/AutoPCH/834b8a2530290932/UTILS.ipch
/.vs/Wave Engine/v17/ipch/AutoPCH/a3c74dc376ed2205/MAIN.ipch
/.vs/Wave Engine/v17/ipch/AutoPCH/c990ed1cd69f1679/VULKANDEVICE.ipch
/.vs/Wave Engine/v17/ipch/AutoPCH/d58bdbd8bd1e7807/VULKANSWAPCHAIN.ipch
/.vs/Wave Engine/v17/ipch/AutoPCH/d86f69f590280f87/CONFIG.ipch
/.vs/Wave Engine/v17/Solution.VC.db
/Wave Engine/x64/Debug/main.obj
/Wave Engine/x64/Debug/RenderingManager.obj
/Wave Engine/x64/Debug/vc143.idb
/Wave Engine/x64/Debug/vc143.pdb
/Wave Engine/x64/Debug/VulkanDevice.obj
/Wave Engine/x64/Debug/Wave Engine.exe.recipe
/Wave Engine/x64/Debug/Wave Engine.ilk
/Wave Engine/x64/Debug/Wave Engine.log
/Wave Engine/x64/Debug/Wave Engine.tlog/CL.command.1.tlog
/Wave Engine/x64/Debug/Wave Engine.tlog/Cl.items.tlog
/Wave Engine/x64/Debug/Wave Engine.tlog/CL.read.1.tlog
/Wave Engine/x64/Debug/Wave Engine.tlog/CL.write.1.tlog
/Wave Engine/x64/Debug/Wave Engine.tlog/link.command.1.tlog
/Wave Engine/x64/Debug/Wave Engine.tlog/link.read.1.tlog
/Wave Engine/x64/Debug/Wave Engine.tlog/link.write.1.tlog
/Wave Engine/x64/Debug/Wave Engine.tlog/Wave Engine.lastbuildstate
/x64/Debug/Wave Engine.exe
/x64/Debug/Wave Engine.pdb
